<div class="note-creator shadow-2 " [ngStyle]="{'background-color': newGoal.color}">
  <form class="row" (submit)="onCreateGoal()">
        <input
          type="text"
          (focus)="toggle(true)"
          [(ngModel)]="newGoal.title" name="newGoalTitle"
          placeholder="Enter your next goal"
          class="col-xs-10 title"

        >

          <div class="box" *ngIf="fullForm">

            Duration in min:
            <select
              [(ngModel)]="newGoal.duration" name="first"
              class="col-xs-10"

            >
              <option *ngFor="let p of duration" [ngValue]="p">{{p}}</option>
            </select>
          </div>

        <div class="col-xs center-xs">
          <div class="box" *ngIf="fullForm">
            Activity Type:<br>
            <select
              [(ngModel)]="newGoal.type" name="first"
              class="col-xs-8"

            >
              <option *ngFor="let p of goalTypes" [ngValue]="p">{{p}}</option>
            </select>
          </div>
        </div>
    <br><br>
        <div class="actions col-xs-12 row between-xs" *ngIf="fullForm">
          <div class="col-xs-10">
            <color-picker
              class="end-xs"
              (selected)="onColorSelect($event)"
              [colors]="colors"
            >
            </color-picker>
          </div>
          <div class="col-xs-2">

          <div class="box end-xs">
            <button
              color="accent"
              type="submit"
              md-raised-button
              class="shadow-1"
            >
              done

            </button>
          </div>
        </div>
          </div>
  </form>
</div>
