<md-progress-bar *ngIf="onLeave" mode="indeterminate" color="primary"></md-progress-bar>

<div  class="card-container">
  <div class="row center-xs">
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-7">

      <div class="box start-xs home-wrapper shadow-3">
        <button
          md-raised-button
          (click)='toUserProfile()'
          class="shadow-1"
          color="accent"
        >
          Profile

        </button>

        <hr>
        <h1>Goal Log</h1>
        <h1 x-large class="sample-content end-xs">Today: {{date | date}}</h1>
        <create-goal (createGoal)="onCreateGoal($event)"></create-goal>

        <hr>
        <div class="notes col-xs-12" >
          <div class="row between-xs"
               *ngFor="let goal of goals; let i = index"
               class="col-xs-6"
               @fade>
            <goal-card
              *ngIf="goal.done === false"
              [goal]="goal"
              (checked)="onGoalChecked($event,i)"
            >
            </goal-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>Last 6 goals</h1>
  <div class="notes col-xs-12" >
    <div class="row between-xs"
         *ngFor="let goal of goals.slice(-6); let i = index"
         class="col-xs-2"
         @fade>
      <div class="note-card"
           [ngStyle]="{'background-color': goal.color}"

           (checked)="onGoalChecked($event,i)"
      ><div class="title"> {{goal.title}} </div><br>Activity type:  {{goal.type}}<br> Duration: {{goal.duration}}
      </div>
    </div>
  </div>

</div>




