<md-progress-bar *ngIf="onLeave" mode="indeterminate" color="primary"></md-progress-bar>

<div  class="card-container">
  <div class="row start-xs">
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-6">

      <div class="box start-xs home-wrapper shadow-3">
        <button
          md-raised-button
          (click)='toUserProfile()'
          class="shadow-1"
          color="accent"
        >
          Profile

        </button>

        <hr>
        <h1>Targets</h1>
        <h1 x-large class="sample-content end-xs">Today: {{date | date}}</h1>
        <create-goal (createGoal)="onCreateGoal($event)"></create-goal>

        <hr>
        <goal-list
          [goals]="goals"
        >

        </goal-list>
        <!--<div class="row note-card ">-->
          <!--<div class="col-xs">-->
            <!--<div class="col-xs start-xs" style="font-size: 10px; font-style: oblique">-->
              <!--Title-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-xs start-xs" style="font-size: 10px; font-style: oblique">-->
            <!--<div class="box">-->
              <!--Activity Type-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-xs start-xs" style="font-size: 10px; font-style: oblique">-->
            <!--<div class="box">-->
              <!--Duration-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-xs start-xs" style="font-size: 10px; font-style: oblique">-->
            <!--<div class="box">-->
              <!--Confidence L-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-xs start-xs" style="font-size: 10px; font-style: oblique">-->
            <!--<div class="box">-->
              <!--How Often-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-xs start-xs" style="font-size: 10px; font-style: oblique">-->
            <!--<div class="box">-->
              <!--When-->

            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-xs start-xs" style="font-size: 10px; font-style: oblique">-->
            <!--<div class="box">-->
              <!--Comments-->

            <!--</div>-->
          <!--</div>-->

        <!--<div>-->

<!--<goal-list ></goal-list>-->
          <!--<div class="row"-->
               <!--*ngFor="let goal of goals; let i = index"-->
               <!--class="col-xs-12"-->
               <!--@fade>-->
            <!--<goal-card-->
              <!--[goal]="goal"-->
              <!--[goals]="goals"-->
              <!--(checked)="onGoalChecked($event,i)"-->
            <!--&gt;-->
            <!--</goal-card>-->


          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      </div>
    </div>

  <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-6">

<schedule
></schedule>
               <!--<activity-->
               <!--&gt;-->

               <!--</activity>-->


    </div>
  </div>
</div>




