<p-dataList [value]="goals" [paginator]="true" [rows]="5">
  <header>
    Goal List
  </header>
  <template let-goal >
    <div class="ui-grid ui-grid-responsive ui-fluid"
         [ngStyle]="{'background-color': goal.color}"
         style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
      <div class="ui-grid-row"  >
        <div class="ui-grid-col-2" style="text-align:center">
          <i class="fa fa-search"  (click)="selectGoal(goal)" style="cursor:pointer;float:left;margin-top:40px"></i>
          <i class="fa fa-trash-o"  (click)="deleteGoal(goal)" style="cursor:pointer;float:left;margin-top:40px"></i>

        </div>

        <div class="ui-grid-col-9">
          <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12"><h4>{{goal.title}}</h4></div>
            </div>

            <!--<div class="ui-grid-row">-->
              <!--<div class="ui-grid-col-8">When </div>-->
              <!--<div class="ui-grid-col-4">{{goal.when}}</div>-->
            <!--</div>-->
            <!--<div class="ui-grid-row">-->
              <!--<div class="ui-grid-col-8">How Often</div>-->
              <!--<div class="ui-grid-col-4">{{goal.howOften}}</div>-->
            <!--</div>-->
            <!--<div class="ui-grid-row">-->
              <!--<div class="ui-grid-col-8">Comments</div>-->
              <!--<div class="ui-grid-col-4">{{goal.comments}}</div>-->
            <!--</div>-->
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-5 shadow-2" style="background-color: #00a6dd ; font-size: small">{{goal.type}}</div>
            <div class="ui-grid-col-5 shadow-2" style="background-color: #00AAAA;font-size: small">{{goal.howOften}}</div>
            <div class="ui-grid-col-2 center-xs shadow-2" style="background-color: #1de9b6;  font-size: small">{{goal.duration}} min </div>

          </div>
        </div>

      </div>
    </div>
  </template>
</p-dataList>

<p-dialog header="Goal Details" [(visible)]="displayDialog"  [minHeight]="300" [responsive]="true" [modal]="false"    showEffect="fade" (onAfterHide)="onDialogHide()">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedGoal"  style="font-size:15px;text-align:left;"
  >

    <div [ngStyle]="{'background-color': selectedGoal.color}">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6" >Name</div>
        <div class="ui-grid-col-6"><input  disabled pInputText [(ngModel)]="selectedGoal.title" /></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6" >How Often</div>
        <div class="ui-grid-col-6"><select
          [(ngModel)]="selectedGoal.howOften" name="first"
          class="col-xs-10"

        >
          <option *ngFor="let p of howOften" [ngValue]="p">{{p}}</option>
        </select></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6" >When</div>
        <div class="ui-grid-col-6"><select
          [(ngModel)]="selectedGoal.when" name="first"
          class="col-xs-10"

        >
          <option *ngFor="let p of days" [ngValue]="p">{{p}}</option>
        </select></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6" >Goal type</div>
        <div class="ui-grid-col-6"><select
          [(ngModel)]="selectedGoal.type" name="first"
          class="col-xs-8"

        >
          <option *ngFor="let p of goalTypes" [ngValue]="p">{{p}}</option>
        </select></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6" >Level of confidence</div>
        <div class="ui-grid-col-6"><select
          [(ngModel)]="selectedGoal.confidenceLevel" name="first"
          class="col-xs-10"

        >
          <option *ngFor="let p of ratings" [ngValue]="p">{{p}}</option>
        </select></div>
      </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-6" >How Much</div>
      <div class="ui-grid-col-6"><select
        [(ngModel)]="selectedGoal.duration" name="first"
        class="col-xs-10"

      >
        <option *ngFor="let p of duration" [ngValue]="p">{{p}}</option>
      </select></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12" >Comments</div>

    </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><textarea pInputTextArea  [(ngModel)]="selectedGoal.comments"></textarea></div>
      </div>
    </div>
  </div>
  <footer>

    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="submit" pButton icon="fa-check" (click)="saveEvent(selectedGoal)" label="Update"></button>

      <button type="button" pButton icon="fa-close"  (click)="deleteGoal(selectedGoal)" label="Delete"></button>
      <button  pButton icon="fa-check" (click)="closeDialog()" label="Close"></button>
    </div>
  </footer>
</p-dialog>
