<md-progress-bar *ngIf="onLeave" mode="indeterminate" color="primary"></md-progress-bar>
<div class="row">
<div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-6">
<div *ngIf="user_name === admin_id">
        <article-creator (createArticle)="onCreateArticle($event)"></article-creator>
</div>
</div>
<div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-6">
        <p-dataList [value]="articles" [paginator]="true" [rows]="5">
          <header>
            Reading List
          </header>
          <template let-article >
            <div class="ui-grid ui-grid-responsive ui-fluid"
                 style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
              <div class="ui-grid-row"  >
                <div class="ui-grid-col-2" style="text-align:center" *ngIf="user_name === admin_id">
                  <!--<i class="fa fa-search"  (click)="selectGoal(goal)"  style="cursor:pointer;float:left;margin-top:40px"></i>-->
                  <i class="fa fa-trash-o"  (click)="deleteArticle(article)" style="cursor:pointer;float:left;margin-top:40px"></i>
                </div>

                <div class="ui-grid-col-9">
                  <div class="ui-grid ui-grid-responsive ui-fluid">
                    <div class="ui-grid-row">
                      <div class="ui-grid-col-12"
                           [routerLink]=" ['','articles', article._id]" routerLinkActive="active" style="cursor:pointer;">
                           <!--(click)="onArticle(article)" style="cursor:pointer;"-->
                      <!--&gt;-->


                        <h2><i class="fa fa-search" aria-hidden="true"></i>
                          {{article.title}}
                        </h2>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </p-dataList>

</div>
</div>



<!--<div  class="card-container">-->

  <!--<div class="row center-xs">-->
    <!--<div class="col-xs-12-->
                <!--col-sm-8-->
                <!--col-md-6-->
                <!--col-lg-">-->

      <!--<article-card-->

        <!--class="col-xs-12 start-xs"-->
        <!--[article]="article"-->
        <!--*ngFor="let article of articles"-->
      <!--&gt;-->
      <!--</article-card>-->
      <!--Nothing Here-->
      <!--&lt;!&ndash;<div class="box home-wrapper shadow-3">&ndash;&gt;-->
        <!--&lt;!&ndash;<h1 x-large class="sample-content start-xs">User List</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="start-xs"  *ngFor="let user of users; let i = index">&ndash;&gt;-->
          <!--&lt;!&ndash;{{i+1}}.&ndash;&gt;-->
          <!--&lt;!&ndash;<button&ndash;&gt;-->

          <!--&lt;!&ndash;md-raised-button&ndash;&gt;-->
          <!--&lt;!&ndash;class="shadow-1"&ndash;&gt;-->
          <!--&lt;!&ndash;[routerLink]=" ['','users', user._id]"&ndash;&gt;-->

        <!--&lt;!&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;{{user.username}}&ndash;&gt;-->


        <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="shadow-2"><hr></div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-xs-12-->
                <!--col-sm-8-->
                <!--col-md-6-->
                <!--col-lg-5">-->
      <!--<div class="box home-wrapper shadow-3">-->
        <!--<div class="col-xs-12">-->
          <!--hi from articles section-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
