<md-progress-bar *ngIf="onLeave" mode="indeterminate" color="primary"></md-progress-bar>

<div  class="card-container">
  <div class="row center-xs">
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-6">

      <div class="box start-xs home-wrapper shadow-3">
        <button
          md-raised-button
          (click)='toUserProfile()'
          class="shadow-1"
        >
          Profile: {{USER_NAME}}

        </button>

        <hr>
        <h1 x-large class="sample-content start-xs">Today: {{date | date}}</h1>


        <diary-creator (createDiary)="onCreateDiary($event)"></diary-creator>


      </div>
    </div>
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
      <div class="box home-wrapper shadow-3">
        <h1 x-large class="sample-content start-xs">Diary</h1>
        <div class="col-xs-12">
          <div>
            <bar-chart-demo></bar-chart-demo>

            <diary-card
              class="col-xs-12 start-xs"
              [diary]="diary"

              *ngFor="let diary of diaries"
            >

            </diary-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




