<div class=" shadow-2 " style="background-color: white; padding-left: 20px;padding-right: 20px">
  <form  (submit)="onCreateEsa()" >
    <h3 class="center-xs " style="color: rgb(20, 198, 229);">Work capability self-assessment</h3>


    <div class="row shadow-2 " style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>1</h1>
          Mobilising unaided by another person
          with or without a walking stick, manual
          wheelchair or other aid if such aid is normally,
          or could reasonably be, worn or used
          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_1" [(ngModel)]="favoriteAnswer_q_1">
            <md-radio-button *ngFor="let answer of answers_1_options" name="question_1" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck1()" (mouseleave)="toggleCheck1()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck1" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>2</h1>
          Standing and sitting.
          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_2" [(ngModel)]="favoriteAnswer_q_2">
            <md-radio-button *ngFor="let answer of answers_2_options" name="question_2" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck2()" (mouseleave)="toggleCheck2()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck2" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>3</h1>
          Reaching.
          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_3" [(ngModel)]="favoriteAnswer_q_3">
            <md-radio-button *ngFor="let answer of answers_3_options" name="question_3" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck3()" (mouseleave)="toggleCheck3()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck3" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>4</h1>
          Picking up and moving or transferring by the use of the upper body and arms.
          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_4" [(ngModel)]="favoriteAnswer_q_4">
            <md-radio-button *ngFor="let answer of answers_4_options" name="question_4" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck4()" (mouseleave)="toggleCheck4()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck4" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>5</h1>
          Manual dexterity.
          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_5" [(ngModel)]="favoriteAnswer_q_5">
            <md-radio-button *ngFor="let answer of answers_5_options" name="question_5" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck5()" (mouseleave)="toggleCheck5()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck5" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>6</h1>
          Making self understood through speaking, writing, typing, or other means which are normally, or could reasonably be, used, unaided by another person.
          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_6" [(ngModel)]="favoriteAnswer_q_6">
            <md-radio-button *ngFor="let answer of answers_6_options" name="question_6" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck6()" (mouseleave)="toggleCheck6()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck6" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>7</h1>
          Understanding communication by:
          (a) verbal means (such as hearing or lip reading) alone,
          (b) non-verbal means (such as reading 16 point print or Braille) alone, or
          (c) a combination of (a) and (b),
          using any aid that is normally, or could reasonably be, used, unaided by another person.
          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_7" [(ngModel)]="favoriteAnswer_q_7">
            <md-radio-button *ngFor="let answer of answers_7_options" name="question_7" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck7()" (mouseleave)="toggleCheck7()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck7" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>8</h1>
          Navigation and maintaining safety, using a guide dog or other aid if either or both are normally, or could reasonably be, used.
          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_8" [(ngModel)]="favoriteAnswer_q_8">
            <md-radio-button *ngFor="let answer of answers_8_options" name="question_8" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck8()" (mouseleave)="toggleCheck8()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck8" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>9</h1>
          Absence or loss of control whilst conscious leading to extensive evacuation of the bowel and/or bladder, other than enuresis (bed-wetting), despite the wearing or use of any aids or adaptations which are normally, or could reasonably be, worn or used.          (select appropriate)
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_9" [(ngModel)]="favoriteAnswer_q_9">
            <md-radio-button *ngFor="let answer of answers_9_options" name="question_9" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck9()" (mouseleave)="toggleCheck9()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck9" >
            Question explained
          </div>
        </div>
      </div>
    </div>

    <div class="row shadow-2" style="background-color: white; padding: 15px; margin-bottom: 8px">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <h1>10</h1>
          Consciousness during waking moments.
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <md-radio-group name="question_10" [(ngModel)]="favoriteAnswer_q_10">
            <md-radio-button *ngFor="let answer of answers_10_options" name="question_10" [value]="answer">
              <div  class="box start-xs" style="white-space: pre-wrap;"> {{answer}}</div>
            </md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
        <div class="box">
          <div (mouseenter)="toggleCheck10()" (mouseleave)="toggleCheck10()" style="background-color: rebeccapurple; color:white">Help</div>
          <div class="note-creator shadow-2" [hidden]="showCheck10" >
            Question explained
          </div>
        </div>
      </div>
    </div>
    <div class="actions col-xs-12 row between-xs">
      <button
        color="accent"
        type="submit"
        md-raised-button
        class="shadow-1"
      >
        Submit
      </button>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-xs-12-->
                    <!--col-sm-8-->
                    <!--col-md-6-->
                    <!--col-lg-5">-->
      <!--<div class="box" style="padding: 10px;">-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div-->
      <!--class="col-xs-12-->
                    <!--col-sm-8-->
                    <!--col-md-6-->
                    <!--col-lg-7"-->
    <!--&gt;-->

      <!--<md-radio-group >-->
        <!--<md-radio-button-->
          <!--value="option_1"-->
        <!--&gt;-->
          <!--Cannot either (i) mobilise more than 50 meters<br>-->
          <!--on level ground without stopping <br>-->
          <!--in order to avoid significant discomfort or <br>-->
          <!--exhaustion or (ii) repeatedly mobilise <br>-->
          <!--50 meters within a reasonable timescale <br>-->
          <!--because of significant discomfort <br>-->
          <!--or exhaustion. <span style="color: white; background-color: rebeccapurple">15 points.</span>-->
        <!--</md-radio-button>-->
        <!--<hr>-->
        <!--<md-radio-button value="option_2"-->
        <!--&gt;-->
          <!--Cannot mount or descend two steps <br>-->
          <!--unaided by another person <br>-->
          <!--even with the support of a handrail. <span style="color: white; background-color: rebeccapurple">9 points.</span>-->
        <!--</md-radio-button>-->
        <!--<hr>-->
        <!--<md-radio-button value="option_3">-->
          <!--Cannot either (i) mobilise more than 100 meters<br>-->
          <!--on level ground without stopping in order to avoid <br>-->
          <!--significant discomfort or exhaustion or (ii) <br>-->
          <!--repeatedly mobilise 100 meters within a <br>-->
          <!--reasonable timescale because of significant <br>-->
          <!--discomfort or exhaustion.-->
          <!--<span style="color: white; background-color: rebeccapurple">9 points.</span>-->
        <!--</md-radio-button>-->

        <!--<hr>-->
        <!--<md-radio-button value="option_4">-->
          <!--Cannot either (i) mobilise more than 200 <br>-->
          <!--metres on level ground <br>-->
          <!--without stopping in order to avoid significant <br>-->
          <!--discomfort or exhaustion or (ii)<br>-->
          <!--repeatedly mobilise 200 meters within a <br>-->
          <!--reasonable timescale because of <br>-->
          <!--significant discomfort or exhaustion.<br>-->
          <!--<span style="color: white; background-color: rebeccapurple">6 points.</span>-->
        <!--</md-radio-button>-->
        <!--<hr>-->
        <!--<md-radio-button value="option_5">-->
          <!--None of the above apply. <span style="color: white; background-color: rebeccapurple">0 points.</span>-->
        <!--</md-radio-button>-->
      <!--</md-radio-group>-->
    <!--</div>-->
    <!--</div>-->
<!--<hr>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12-->
                    <!--col-sm-8-->
                    <!--col-md-6-->
                    <!--col-lg-5">-->
        <!--<div class="box" style="padding: 10px;">-->
          <!--<h1>2</h1>-->
          <!--Standing and sitting.-->
          <!--<div (mouseenter)="toggleCheck()" (mouseleave)="toggleCheck()" style="background-color: rebeccapurple; color:white">Help</div>-->
          <!--<div class="note-creator shadow-2" [hidden]="showCheck" >-->
            <!--Question explained-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div-->
        <!--class="col-xs-12-->
                    <!--col-sm-8-->
                    <!--col-md-6-->
                    <!--col-lg-7"-->
      <!--&gt;-->

        <!--<md-radio-group >-->
          <!--<md-radio-button-->
            <!--value="option_1"-->
          <!--&gt;-->
            <!--Cannot move between one seated <br>-->
            <!--position and another seated position<br>-->
            <!--located next to one another without <br>-->
            <!--receiving physical assistance from <br>-->
            <!--another person.<span style="color: white; background-color: rebeccapurple">15 points.</span>-->
          <!--</md-radio-button>-->
          <!--<hr>-->
          <!--<md-radio-button value="option_2"-->
          <!--&gt;-->
            <!--Cannot, for the majority of the time, <br>-->
            <!--remain at a work station, either: (i) <br>-->
            <!--standing unassisted by another person <br>-->
            <!--(even if free to move around) or; <br>-->
            <!--(ii) sitting (even in an adjustable chair); <br>-->
            <!--or (iii) a combination of (i) and (ii), <br>-->
            <!--for more than 30 minutes, before needing <br>-->
            <!--to move away in order to avoid significant <br>-->
            <!--discomfort or exhaustion. <span style="color: white; background-color: rebeccapurple">9 points.</span>-->
          <!--</md-radio-button>-->
          <!--<hr>-->
          <!--<md-radio-button value="option_3">-->
            <!--Cannot, for the majority of the time, <br>-->
            <!--remain at a work station, either: (i)<br>-->
            <!--standing unassisted by another person <br>-->
            <!--(even if free to move around) or; <br>-->
            <!--(ii) sitting (even in an adjustable chair); <br>-->
            <!--or (iii) a combination of (i) and (ii), <br>-->
            <!--for more than an hour, before needing to <br>-->
            <!--move away in order to avoid significant <br>-->
            <!--discomfort or exhaustion.-->
            <!--<span style="color: white; background-color: rebeccapurple">6 points.</span>-->
          <!--</md-radio-button>-->
          <!--<hr>-->
          <!--<md-radio-button value="option_4">-->
            <!--None of the above apply. <span style="color: white; background-color: rebeccapurple">0 points.</span>-->
          <!--</md-radio-button>-->

        <!--</md-radio-group>-->
      <!--</div>-->
    <!--</div>-->
    <!--<input-->
    <!--type="text"-->
    <!--[(ngModel)]="newQuestion.title"-->
    <!--name="newQuestionTitle"-->
    <!--placeholder="Title"-->
    <!--class="col-xs-10 title"-->

    <!--&gt;-->
    <!--<input-->
    <!--type="text"-->
    <!--[(ngModel)]="newQuestion.value"-->
    <!--name="newQuestionValue"-->
    <!--placeholder="Take a note..."-->
    <!--class="col-xs-10"-->
    <!--&gt;-->
    <!--<div class="actions col-xs-12 row between-xs" >-->
    <!--<button-->
    <!--type="submit"-->
    <!--class="btn-light"-->
    <!--&gt;-->
    <!--Done-->
    <!--</button>-->
    <!--</div>-->
  </form>
</div>
