<div class=" shadow-2">
  <form  (ngSubmit)="onCreateQuestion()" style="padding: 10px;">

    <div class="row  center-xs">
      <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-10 shadow-2">
        <div class="box" *ngFor="let question of questions">
          <div class="row start-xs">
            <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4">
              <div class="box start-xs">
                {{question.text}}

              </div>
            </div>
            <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-8 ">
              <div >

                  <md-radio-group [(value)]="groupValue">

                    <md-radio-button *ngFor="let answer of question.answers" [value]="answer.id">

                     <div  style="
                       padding-left: 25px;
                        white-space: normal;">
                       {{answer.answerText}} <span style="background-color: rebeccapurple; color:white">{{answer.answerPoints}} Points</span><hr></div>
                    </md-radio-button>

                  </md-radio-group>
                  <!--{{answer.id}}<br>{{answer.answerText}}-->

              </div>
            </div>
          </div>

  <hr>

        </div>

      </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-xs-12-->
                    <!--col-sm-8-->
                    <!--col-md-6-->
                    <!--col-lg-5">-->
      <!--<div class="box" style="padding: 10px;">-->
        <!--<h1>1</h1>-->
        <!--Mobilising unaided by another person <br>-->
        <!--with or without a walking stick, manual<br>-->
        <!--wheelchair or other aid if such aid is normally,<br>-->
        <!--or could reasonably be, worn or used <br>-->
        <!--(select appropriate)-->
        <!--<div (mouseenter)="toggleCheck()" (mouseleave)="toggleCheck()" style="background-color: rebeccapurple; color:white">Help</div>-->
        <!--<div class="note-creator shadow-2" [hidden]="showCheck" >-->
          <!--Question explained-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div-->
      <!--class="col-xs-12-->
                    <!--col-sm-8-->
                    <!--col-md-6-->
                    <!--col-lg-7"-->
    <!--&gt;-->

      <!--<md-radio-group >-->
        <!--<md-radio-button-->
          <!--value="option_1"-->
        <!--&gt;-->
          <!--Cannot either (i) mobilise more than 50 meters<br>-->
          <!--on level ground without stopping <br>-->
          <!--in order to avoid significant discomfort or <br>-->
          <!--exhaustion or (ii) repeatedly mobilise <br>-->
          <!--50 meters within a reasonable timescale <br>-->
          <!--because of significant discomfort <br>-->
          <!--or exhaustion. <span style="color: white; background-color: rebeccapurple">15 points.</span>-->
        <!--</md-radio-button>-->
        <!--<hr>-->
        <!--<md-radio-button value="option_2"-->
        <!--&gt;-->
          <!--Cannot mount or descend two steps <br>-->
          <!--unaided by another person <br>-->
          <!--even with the support of a handrail. <span style="color: white; background-color: rebeccapurple">9 points.</span>-->
        <!--</md-radio-button>-->
        <!--<hr>-->
        <!--<md-radio-button value="option_3">-->
          <!--Cannot either (i) mobilise more than 100 meters<br>-->
          <!--on level ground without stopping in order to avoid <br>-->
          <!--significant discomfort or exhaustion or (ii) <br>-->
          <!--repeatedly mobilise 100 meters within a <br>-->
          <!--reasonable timescale because of significant <br>-->
          <!--discomfort or exhaustion.-->
          <!--<span style="color: white; background-color: rebeccapurple">9 points.</span>-->
        <!--</md-radio-button>-->

        <!--<hr>-->
        <!--<md-radio-button value="option_4">-->
          <!--Cannot either (i) mobilise more than 200 <br>-->
          <!--metres on level ground <br>-->
          <!--without stopping in order to avoid significant <br>-->
          <!--discomfort or exhaustion or (ii)<br>-->
          <!--repeatedly mobilise 200 meters within a <br>-->
          <!--reasonable timescale because of <br>-->
          <!--significant discomfort or exhaustion.<br>-->
          <!--<span style="color: white; background-color: rebeccapurple">6 points.</span>-->
        <!--</md-radio-button>-->
        <!--<hr>-->
        <!--<md-radio-button value="option_5">-->
          <!--None of the above apply. <span style="color: white; background-color: rebeccapurple">0 points.</span>-->
        <!--</md-radio-button>-->
      <!--</md-radio-group>-->
    <!--</div>-->
    <!--</div>-->
<!--<hr>-->
    <!--<div class="row">-->
      <!--<div class="col-xs-12-->
                    <!--col-sm-8-->
                    <!--col-md-6-->
                    <!--col-lg-5">-->
        <!--<div class="box" style="padding: 10px;">-->
          <!--<h1>2</h1>-->
          <!--Standing and sitting.-->
          <!--<div (mouseenter)="toggleCheck()" (mouseleave)="toggleCheck()" style="background-color: rebeccapurple; color:white">Help</div>-->
          <!--<div class="note-creator shadow-2" [hidden]="showCheck" >-->
            <!--Question explained-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div-->
        <!--class="col-xs-12-->
                    <!--col-sm-8-->
                    <!--col-md-6-->
                    <!--col-lg-7"-->
      <!--&gt;-->

        <!--<md-radio-group >-->
          <!--<md-radio-button-->
            <!--value="option_1"-->
          <!--&gt;-->
            <!--Cannot move between one seated <br>-->
            <!--position and another seated position<br>-->
            <!--located next to one another without <br>-->
            <!--receiving physical assistance from <br>-->
            <!--another person.<span style="color: white; background-color: rebeccapurple">15 points.</span>-->
          <!--</md-radio-button>-->
          <!--<hr>-->
          <!--<md-radio-button value="option_2"-->
          <!--&gt;-->
            <!--Cannot, for the majority of the time, <br>-->
            <!--remain at a work station, either: (i) <br>-->
            <!--standing unassisted by another person <br>-->
            <!--(even if free to move around) or; <br>-->
            <!--(ii) sitting (even in an adjustable chair); <br>-->
            <!--or (iii) a combination of (i) and (ii), <br>-->
            <!--for more than 30 minutes, before needing <br>-->
            <!--to move away in order to avoid significant <br>-->
            <!--discomfort or exhaustion. <span style="color: white; background-color: rebeccapurple">9 points.</span>-->
          <!--</md-radio-button>-->
          <!--<hr>-->
          <!--<md-radio-button value="option_3">-->
            <!--Cannot, for the majority of the time, <br>-->
            <!--remain at a work station, either: (i)<br>-->
            <!--standing unassisted by another person <br>-->
            <!--(even if free to move around) or; <br>-->
            <!--(ii) sitting (even in an adjustable chair); <br>-->
            <!--or (iii) a combination of (i) and (ii), <br>-->
            <!--for more than an hour, before needing to <br>-->
            <!--move away in order to avoid significant <br>-->
            <!--discomfort or exhaustion.-->
            <!--<span style="color: white; background-color: rebeccapurple">6 points.</span>-->
          <!--</md-radio-button>-->
          <!--<hr>-->
          <!--<md-radio-button value="option_4">-->
            <!--None of the above apply. <span style="color: white; background-color: rebeccapurple">0 points.</span>-->
          <!--</md-radio-button>-->

        <!--</md-radio-group>-->
      <!--</div>-->
    <!--</div>-->
    <!--<input-->
    <!--type="text"-->
    <!--[(ngModel)]="newQuestion.title"-->
    <!--name="newQuestionTitle"-->
    <!--placeholder="Title"-->
    <!--class="col-xs-10 title"-->

    <!--&gt;-->
    <!--<input-->
    <!--type="text"-->
    <!--[(ngModel)]="newQuestion.value"-->
    <!--name="newQuestionValue"-->
    <!--placeholder="Take a note..."-->
    <!--class="col-xs-10"-->
    <!--&gt;-->
    <!--<div class="actions col-xs-12 row between-xs" >-->
    <!--<button-->
    <!--type="submit"-->
    <!--class="btn-light"-->
    <!--&gt;-->
    <!--Done-->
    <!--</button>-->
    <!--</div>-->
  </form>
</div>
