<md-progress-bar *ngIf="onLeave" mode="indeterminate" color="primary"></md-progress-bar>
<div  class="card-container">

  <div class="row center-xs">
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-">
      Nothing Here
      <!--<div class="box home-wrapper shadow-3">-->
        <!--<h1 x-large class="sample-content start-xs">User List</h1>-->
        <!--<div class="start-xs"  *ngFor="let user of users; let i = index">-->
          <!--{{i+1}}.-->
          <!--<button-->

          <!--md-raised-button-->
          <!--class="shadow-1"-->
          <!--[routerLink]=" ['','users', user._id]"-->

        <!--&gt;-->
          <!--{{user.username}}-->


        <!--</button>-->
          <!--<div class="shadow-2"><hr></div>-->
        <!--</div>-->


      <!--</div>-->
    </div>
    <div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-5">
      <div class="box home-wrapper shadow-3">
        <div class="col-xs-12">
          hi from pain manager
        </div>
      </div>
    </div>
  </div>
</div>
